hedefalk/src/main/wsdl/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.hedefalk.se/test"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  targetNamespace="http://www.hedefalk.se/test"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.hedefalk.se/test"
        targetNamespace="http://www.hedefalk.se/test">
      <xsd:element name="WsdlTestElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="switch" type="tns:WsdlSwitch"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="WsdlSwitch">
        <xsd:restriction base="xsd:normalizedString">
          <xsd:enumeration value="On"/>
          <xsd:enumeration value="Off"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SeqElementTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Thing">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="sString" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="MessageIn">
      <wsdl:part name="in" element="tns:SeqElementTest" />
  </wsdl:message>
  <wsdl:message name="MessageOut">
      <wsdl:part name="out" type="xsd:string" />
  </wsdl:message>
  
  <wsdl:message name="EmptyMessageIn" />
  <wsdl:message name="EmptyMessageOut" />
  
  <wsdl:portType name="PortType1">
      <wsdl:operation name="Operation1">
          <wsdl:input message="tns:MessageIn" />
          <wsdl:output message="tns:MessageOut" />
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PortType2">
      <wsdl:operation name="Operation2">
          <wsdl:input message="tns:MessageIn" />
          <wsdl:output message="tns:MessageOut" />
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="service">
  </wsdl:portType>
  <wsdl:portType name="EmptyPortType1">
    <wsdl:operation name="Operation1">
      <wsdl:input message="tns:EmptyMessageIn" />
      <wsdl:output message="tns:EmptyMessageOut" />
    </wsdl:operation>
  </wsdl:portType>  
  
  <wsdl:binding name="Binding1" type="tns:PortType1">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Operation1">
          <soap:operation soapAction="http://hedefalk.se/test" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Binding2" type="tns:PortType2">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Operation2">
          <soap:operation soapAction="http://hedefalk.se/test" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceSoap11" type="tns:service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:binding name="EmptyPortType1Binding" type="tns:EmptyPortType1">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Operation1">
          <soap:operation soapAction="http://hedefalk.se/test" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceService">
    <wsdl:port binding="tns:serviceSoap11" name="serviceSoap11">
      <soap:address location="http://hedefalk.se:80/ws/"/>
    </wsdl:port>
    <wsdl:port binding="tns:Binding1" name="Port1"></wsdl:port>
    <wsdl:port binding="tns:Binding2" name="Port2"></wsdl:port>
  </wsdl:service>
</wsdl:definitions>
